.text-block-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-block-hero h1 {
    font-size: 5.1rem;
    font-weight: 800;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-block-hero p {
    line-height: 1.4;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 2.5rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show 3 lines */
    overflow: hidden;
}

.w3l-bannerhny-content {
    position: relative;
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
    overflow: hidden;
}

.back-video {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.w3l-bannerhny-info {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 767px) {
    .text-block-hero h1,
    .text-block-hero p {
        width: 100%;
    }

    .text-block-hero h1 {
        font-size: 3rem;
    }

    .text-block-hero p {
        font-size: 1.1rem;
        margin-top: 0.8rem;
    }
}
